.dropdown-field {
    position: relative;

    width: 100%;

    cursor: pointer;
    text-align: left;

    &__label {
        font-size: 16px;
        font-weight: 100;
        line-height: 16px;

        position: absolute;

        height: 40px;

        opacity: 0.8;
        color: #303233;

        p {
            margin-top: 30px;
            margin-left: 15px;

            transition: all 0.3s;
        }
    }

    &__value {
        font-weight: 100;

        min-height: 20px;
        margin-top: 10px;
        padding: 30px 15px 15px;

        animation: fadeIn 0.3s;

        opacity: 0.8;
        border-bottom: solid 2px #03a9f4;

        p {
            min-height: 20px;
            margin: 0;
        }
    }

    &__options {
        position: absolute;
        z-index: 999;
        right: 0;
        left: 0;

        overflow: scroll;

        max-height: 0;
        margin: auto;

        transition: opacity 0.2s, padding 0.2s, max-height 0.2s;

        opacity: 0;
        background: #f4f5f7;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

        .dropdown-field__option {
            padding: 13px;

            transition: all 0.2s;

            &:hover,
            &-active {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    &--active {
        .dropdown-field__trigger {
            position: fixed;
            z-index: 9;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .dropdown-field__options {
            max-height: 180px;

            opacity: 1;
        }
    }

    &--active,
    &.selected {
        .dropdown-field__label {
            font-size: 13px;
            font-weight: 900;

            opacity: 1;

            p {
                margin-top: 0;
                margin-left: 0;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
