@charset 'utf-8';

// Base
$body-background-color: $white !default;
$body-size: 16px !default;
$body-rendering: optimizeLegibility !default;
$body-family: Archivo, $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

// Code blocks
$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

// Rules
$hr-background-color: $background !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;

// Emphasis
$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;


html {
    font-size: $body-size;

    overflow-x: hidden;
    overflow-y: scroll;

    min-width: 300px;

    background-color: $body-background-color;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: $body-rendering;
    text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font-family: $body-family;
}

code,
pre {
    font-family: $code-family;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
}

body {
    font-size: 1rem;
    font-weight: $body-weight;
    line-height: $body-line-height;

    color: $body-color;
}

// Inline
a {
    cursor: pointer;
    text-decoration: none;

    color: $link;

    &:hover {
        color: $link-hover;
    }

    strong {
        color: currentColor;
    }
}

code {
    font-size: $code-size;
    font-weight: $code-weight;

    padding: $code-padding;

    color: $code;
    background-color: $code-background;
}

hr {
    display: block;

    height: $hr-height;
    margin: $hr-margin;

    border: none;
    background-color: $hr-background-color;
}

img {
    max-width: 100%;
    height: auto;
}

input[type='checkbox'],
input[type='radio'] {
    vertical-align: baseline;
}

small {
    font-size: 0.875em;
}

span {
    font-weight: inherit;
    font-style: inherit;
}

strong {
    font-weight: $strong-weight;

    color: $strong-color;
}

// Block
pre {
    @include overflow-touch;

    font-size: 0.875em;

    overflow-x: auto;

    padding: 1.25rem 1.5rem;

    white-space: pre;
    word-wrap: normal;

    color: $pre;
    background-color: $pre-background;

    code {
        font-size: 1em;

        padding: 0;

        color: currentColor;
        background-color: transparent;
    }
}

table {
    td,
    th {
        text-align: left;
        vertical-align: top;
    }

    th {
        color: $text-strong;
    }
}
