@mixin clearfix {
    &::after {
        display: table;
        clear: both;

        content: ' ';
    }
}

@mixin overflow-touch {
    -webkit-overflow-scrolling: touch;
}

@mixin placeholder {
    $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input';
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

@mixin unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
}

%unselectable {
    @include unselectable;
}
